<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Innovative &amp; Creative Business Solutions</h2>
                <hr class="light">
                <p class="text-faded">Moonswitch is a small firm with big capabilities. We've implemented solutions that include continuous delivery, DevOps, mobile, web, hardware, software, business process evaluation &amp; streamlining, and much more. We believe in working with our customers to identify the best solution for the problem, not just the fastest and easiest.</p>
                <a href="#services" class="btn btn-default btn-xl">See Our Services</a>
            </div>
        </div>
    </div>
</section>
