<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gears wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>DevOps</h3>
                    <p class="text-muted">Continuous delivery? Infrastructure automation? Cloud based architecuture? No problem! We can setup all the pieces you need to modernize your application delivery process.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <h3>Mobile</h3>
                    <p class="text-muted">Mobile apps to engage your customers or enable your employees to work on the go.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Web</h3>
                    <p class="text-muted">Web solutions for both public facing and internal applications.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sitemap wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Integrations</h3>
                    <p class="text-muted">We can build software that integrates with your existing systems or help you integrate multiple business systems for maximum productivity.</p>
                </div>
            </div>
        </div>
    </div>
</section>
